<p>demo works!</p>

<input type="text" [(ngModel)]="title">
{{ title }}

<input type="text" [(ngModel)]="power">
{{ power | exponential }}


<app-product [product]="title"></app-product>

<div *ngIf='title === "SilvioAlejandro"'>
  este es un div
</div>

<div *ngIf='title === "Silvio"'>
  este es un Silvio
</div>

<div *ngIf='title === "Alejandro"'>
  este es un Alejandro
</div>

<div *ngIf='title === "Ricardo"'>
  este es un Ricardo
</div>

<div [ngSwitch]='title'>
  <p *ngSwitchCase='"Silvio"'>este es Silvio</p>
  <p *ngSwitchCase='"Alejandro"'>este es Alejandro</p>
  <p *ngSwitchCase='"Ricardo"'>este es Ricardo</p>
  <p *ngSwitchDefault>no hay match</p>
</div>

<button (click)='addItem()'>Add item</button>

<ul>
  <li *ngIf='items.length === 0'> la lista esta vacia</li>
  <li *ngFor='let name of items; index as i'>
    {{ name }} {{ i }}
    <button (click)='deleteItem()'>delete</button>
  </li>
</ul>
