<h3 appHighlight>{{ product.title | uppercase }}</h3>
<img [src]="product.image" alt="">
<strong>{{ product.price |currency }}</strong>
<p>{{ today | date: 'medium'}}</p>
<button (click)="addCart()"> Agregar al carrito</button>
<a [routerLink]="['/products', product.id]">Ver detalle</a>