:host {
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
img {
    max-width: 100%;
}

button {
    margin-bottom: auto;
}